<div class="container p-4">
    <div class="row">

        {{#each links}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a>
                            <h3 class="card-title text-uppercase">
                                {{name_book}}
                            </h3>
                        </a>
                        <p class="m-2">
                            {{author}}
                        </p>
                        <p class="m-2">
                            {{timeago date_public}}
                        </p>
                        <p class="m-2 text-justify">
                            {{information}}
                        </p>
                        <a href="/links/delete/{{idbooks}}" class="btn btn-danger">Eliminar</a>
                        <a href="/links/edit/{{idbooks}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay libros agregados</p>
                    <a href="/links/add">¡Agrega uno!</a>
                </div>
            </div>
        {{/each}}

    </div>
</div>